.notes__container {
  padding: 2rem;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.2rem;
}

.empty-notes {
  width: 100%;
  display: grid;
  justify-content: center;
  color: rgba(255, 255, 255, 0.844);
  margin-top: 3rem;
}

.empty-notes h1 {
  background-color: rgba(0, 0, 0, 0.825);
  padding: .5rem;
  border-radius: .2rem;
}
