.session-expired__modal {
  background-color: rgba(0, 0, 0, 0.279);
  position: fixed;
  width: 100%;
  height: 100svh;
  top: 0;
  left: 0;
  display: grid;
  place-content: center;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.session-expired__modal > div {
  box-shadow: 0 0 1.4px 0.5px rgba(0, 0, 0, 0.611);
  width: 40rem;
  height: 15rem;
  display: grid;
  place-content: center;
}

.session-expired__modal > div > h1 {
  font-weight: 300;
}

.session-expired__modal > div > p {
  font-size: .9rem;
  display: grid;
}

.session-expired__modal-loader {
    width: 100%;
    display: grid;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
    justify-content: center;
}

/* Loader */

.loadership_OWEWA2 {
  display: flex;
  width: 29px;
  height: 29px;
  position: relative;
}

.loadership_OWEWA2 div {
  position: absolute;
  top: 0;
  left: 0;
  width: 29px;
  height: 29px;
  border: 3px solid #00000033;
  border-radius: 50%;
}

.loadership_OWEWA2 > p {
  position: absolute;
  margin-left: -1.2rem;
}

.loadership_OWEWA2 div:not(:nth-child(1)) {
  clip-path: polygon(50% 50%, 0 0, 80% 0);
  border: 3px solid #ffffff;
  animation: loadership_OWEWA_spin 1.4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loadership_OWEWA2 div:nth-child(2) {
  animation-delay: 0s;
}

.loadership_OWEWA2 div:nth-child(3) {
  animation-delay: -0.06s;
}

.loadership_OWEWA2 div:nth-child(4) {
  animation-delay: -0.11s;
}

.loadership_OWEWA2 div:nth-child(5) {
  animation-delay: -0.17s;
}

.loadership_OWEWA2 div:nth-child(6) {
  animation-delay: -0.22s;
}

@keyframes loadership_OWEWA_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

